.App {
  font-family: sans-serif;
  text-align: center;
  width: 80%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.react-hint {
  position: absolute;
}
