body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 80px;
}

button {
	margin: 5px;
}

.custom-hint {
	position: absolute;
	z-index: 8888;
	cursor: default;
}

.custom-hint img {
	display: block;
}

.custom-hint__content {
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	background: floralwhite;
	color: #000;
}
  